@charset "UTF-8";
/* CSS Document */


	
h1{
font-family: "ivyepic", sans-serif;
font-weight: 700;
font-style: italic;
color: #fde06a;
size: 1.5em;
text-align: center;
	    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
	
	body{
		margin: 0 0 0 0;
		background-color: #fde06a;
		font-size: 100%;
	}
	

		a:link, a:visited, a:hover, a:active 
			{
  text-decoration: none;
				color: #fde06a;
}


	
	#buttons{
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: #a2023a;
		width: 100%;
	}
	
	.nav{
		position: relative;
		float: left;
		width: calc(50% - 2px);
	}
	
	.nav:first-child{
		border-right: 1px solid #fde06a;
	}
	
	.nav:last-child{
		border-left: 1px solid #fde06a;
	}
	
	#main{
		width: 100%;
		height: 100vh;	
	}

#home-main{
		width: 100%;
		height: 100vh;
	background-image: url("/images/index.jpg");
	}
	
	#main img{
		width: 100%;
		vertical-align: top;
		background-color: #fde06a;
	}

	#home-main img{
		width: 100%;
		vertical-align: top;
		background-color: #fde06a;
	}
