@charset "UTF-8";
/* CSS Document */


	
h1{font-family: "ivyepic", sans-serif;font-weight: 700;font-style: italic;color: #a2023a;font-size: 1.3em;text-align: center;margin-block-start: 0em;margin-block-end: 0em;}

h2{font-family: "ivyepic", sans-serif;font-weight: 700;font-style: italic;color: #fde06a;font-size: 1.1em;text-align: left; line-height:1.2em;margin-block-start: 0em;margin-block-end: 0em;}

	body{
		margin: 0 0 0 0;
		background-color: #fde06a;
		font-size: 100%;
	}
	

		a:link, a:visited, a:hover, a:active 
			{
  text-decoration: none;
  color: #a2023a;
}

#home-text{
	position:absolute;
	z-index:100;
	width: 55%;
	padding-left: 38%;
	bottom: 12vh;
	text-wrap: balance;
}

	
	#buttons{
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: #fde06a;
		width: 100%;
		float: left;
	}
	
#buttons img{
	position: relative;
	width: 100%;
}
	.nav{
		position: relative;
		float: left;
		width: calc(50% - 2px);
	}
	
	.nav:first-child{
		border-right: 1px solid #fde06a;
	}
	
	.nav:last-child{
		border-left: 1px solid #a2023a;
	}
	
	#main{
		width: 100%;
		height: 100vh;	
	}

#home-main{
		width: 100%;
		height: 100vh;
		background-image: url("../images/index.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	#main img{
		width: 100%;
		vertical-align: top;
		background-color: #fde06a;
	}

	#home-main img{
		width: 100%;
		vertical-align: top;
		/* background-color: #fde06a; */
	}
